{% extends 'book.html' %}

{% block content %}
    <div class="col-sm-10 " >
    <style>
         .fancyBB{
                background-color: #070c0c;
                border: none;
                width: 30%;
                padding: 10px;
                color: white;
                 font-family: 'Abril Fatface';
                   font-size: 25px;
                }
            .fancyBB:hover{
                color: black;
                background-color: #feda86;
            }
           label{
               display: none;
           }
    </style>

            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="border: #070c0c solid 2px; padding: 20px;margin-top: 20px;background-color:#F5F5F5;; text-align: center;margin-bottom: 20px;">

                <h1 style="text-align: center;font-family: 'Dancing Script';font-size: 50px;">Terms and conditions</h1>
                <p>You  agree that the Service is provided for your own personal use. You also agree that you will not
                    share your password to, or any printed portions of, the Service or any eContent or eResource with
                    any other person. The rights being granted to you are personal in nature to you and may not be
                    shared with, transferred or otherwise assigned to anyone else. In addition, you will not make print
                    or electronic copies of any portions of the eContent for anyone other than yourself to use, nor will
                    you employ or allow the use of your account for the purpose of executing scripts, programs, or other
                    technologies designed or intended to create copies or otherwise reproduce eContent.</p>
                        <a method="POST" class="post-form">{% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="save fancyBB">Yes, I agree</button>

                        </form>
            </div>
            <div class="col-sm-4"></div>

    </div>



{% endblock %}