{% extends 'layout.html' %}
{% load static %}
{% block title %}{{ book.title }}{% endblock %}

{% block content %}
        <div class="col-sm-10 " style="background-color:#F5F5F5;padding-bottom: 20px">
            <style>
           .fancyB{
                background-color: darkslategrey;
                border: none;
                width: 100%;
                padding: 10px;
                color: white;
                 font-family: 'Abril Fatface';
                   font-size: 25px;
                }
            .fancyB:hover{
                color: black;
                background-color:#98FB98;
            }

            .fancyBB{
                background-color: #070c0c;
                border: none;
                width: 50%;
                padding: 10px;
                color: white;
                 font-family: 'Abril Fatface';
                   font-size: 25px;
                }
            .fancyBB:hover{
                color: black;
                background-color: #feda86;
            }

            </style>

         <div class="row">
                            <div class="col-sm-4" style="text-align: center">
                               <h3 style="font-family: 'Caveat Brush';font-size: 40px;">{{ book.title }}</h3>

                                <div class="thumbnail" style="background-color: #F5F5F5;padding-top: 20px;">
                                  <img class="img-thumbnail" style="width:250px;height:350px" src="{{ book.cover.url }}" alt="Image">
                                  <div class="caption">
                                    {% if book.get_type_display == 'Premium' %}
                                        <p style="font-family: Actor;font-size: 20px;"><strong>Price: </strong>{{ book.price }} euro</p>
                                                {%  if request.user.is_authenticated %}
                                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                                    <input type="hidden" name="cmd" value="_s-xclick">
                                                    <input type="hidden" name="hosted_button_id" value="DTLRM7BXFT2NG">
                                                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                                    </form>
                                                    {% else %}
                                                    <a href="{% url 'login' %}" > <button  type="submit" class="fancyB">Login to buy</button></a>
                                                {% endif %}
                                            {% else %}
                                                <a href="{{ book.pdf.url }}" > <button class="fancyB"  type="submit">Read</button></a>
                                            {% endif %}
                                  </div>
                            </div>
                            </div>

                            <div class="col-sm-4" style="padding-top: 100px;font-family: 'Chenla';font-size: 15px;">
                                  {% if book.get_type_display == 'Standard' %}
                                                {%  if request.user.is_authenticated %}
                                                    <a style="color: #ffd734;font-size: 40px;" href="{% url 'add_book_to_mybooks' pk=book.pk %}" title="Add to my books">
                                                          <span class="glyphicon glyphicon-star"></span>
                                                    </a>
                                                {% endif %}
                                {% endif %}
                                <ul style="list-style: none;">
                                            <li> <strong>Author: </strong>{{ book.author }}</li>
                                            <li> <strong>Publishing House: </strong>{{ book.pub_house }}</li>
                                            <li> <strong>Publishing date: </strong>{{ book.pub_date }}</li>
                                            <li> <strong>Category: </strong>{{ book.get_category_display }}</li>
                                </ul>
                                   <p>{{ book.description }}</p>
                            </div>

                            <div class="col-sm-4" style="margin-top: 20px;border: solid black 1px;padding-top: 20px;padding-bottom: 20px;padding-left: 25px;padding-right: 25px; ">
                               <p style="font-family: 'Abril Fatface';font-size: 22px;color: #778899;">People who liked this also liked... </p>
                                {% for rbook in rbooks %}
                                    <a style="padding: 5px;" href="{% url 'book_details' pk=rbook.pk %}"><img class="img-thumbnail" style="margin-bottom:10px;width:100px;height:150px" src="{{ rbook.cover.url }}" alt="Image"></a>
                                {% endfor %}
                            </div>
        </div>
        <hr/>

         <div class="row">

                    <h4 style="text-align: center;font-family: 'Dancing Script';font-size: 50px;">Reviews</h4>
                   <hr/>
             <div class="row" style="text-align: center; margin-bottom: 20px;">

                 {% if request.user.is_authenticated %}
                        <a href="{% url 'add_review_to_book' pk=book.pk%}">
                            <button class="fancyBB">
                                 Leave a review
                            </button>
                        </a>
                     {% endif %}

             </div>


                   <div class="col-sm-2"></div>

                   <div class="col-sm-8">
                   {%  for review in book.review_set.all %}
                       <div class="row" style="border: solid gray 1px;padding: 10px;background: white;margin-bottom: 5px;">

                           <div class="col-sm-4">
                               <h4 ><span style="font-family: 'Abril Fatface';color: #778899;">{{ review.id_user.username}}</span></h4>
                           </div>

                            <div class="col-sm-7">
                                  <h4><span style="font-size: 20px;font-family: EB Garamond;">{{ review.text }}</span></h4>

                            </div>
                            <div class="col-sm-1">
                                {% if review.id_user.pk == request.user.pk %}
                                     <a  href="{% url 'review_delete' pk=review.pk pk_book=review.id_book.pk%}" >
                                               <span style="color: black;font-size: 20px;" class="glyphicon glyphicon-trash"></span>
                                    </a><br/><br/>
                                     <a href="{% url 'review_update' pk=review.pk pk_book=review.id_book.pk%}">
                                        <span style="color: black;font-size: 20px;" class="glyphicon glyphicon-pencil"></span>
                                     </a>
                            {% endif%}
                            </div>
                       </div>
                       {% empty %}
                        <p style="font-family: 'Chenla';font-size: 20px; ">No reviews here yet <i class="material-icons">&#xe814;</i></p>
                   {% endfor %}
                   </div>
                    <div class="col-sm-2"></div>
                   </div>
 <div>

 </div>
        </div>
{% endblock %}