{% extends 'layout.html' %}
{% load static %}
{% block title %}{{ book.title }}{% endblock %}

{% block content %}
            <div>
                <div>
                    <h3>{{ book.title }}</h3>
                    <a href="#"><img style="width:660px;height:400px"src="{{ book.cover.url }}" alt="Image"></a>

                    <h5>Description</h5>
							<p>{{ book.description }}</p>
                    <ul>
                                <li> <strong>Category: </strong>{{ book.get_category_display }}</li>
                                <li> <strong>Author: </strong>{{ book.author }}</li>
                                <li> <strong>Pub house: </strong>{{ book.pub_house }}</li>
                                <li> <strong>Pub date: </strong>{{ book.pub_date }}</li>

                                {% if book.get_type_display == 'Premium' %}
                                    <li> <strong>Price: </strong>{{ book.price }}</li>
                                    {%  if request.user.is_authenticated %}
                                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="DTLRM7BXFT2NG"><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                        </form>

                                    {% endif %}
                                {% else %}
                                    <a href="{{ book.pdf.url }}" > <button  type="submit" style="background-color:#483D8B; color: white">Read</button></a>
                                {% endif %}
                    </ul>
                </div>
                <div>
                    <h4>Reviews</h4>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'add_review_to_book' pk=book.pk%}">
                            <button class="btn .btn-default btn-block">
                                 Add review
                            </button>
                        </a>
                     {% endif %}
                   {%  for review in book.review_set.all %}
                    <div>
                        <h6>{{ review.id_user.username}}:</h6>
                        <p>{{ review.text }}</p>
                    </div>
                       {% empty %}
                        <p>No reviews here yet :(</p>
                   {% endfor %}

                </div>
            </div>


{% endblock %}