{% extends 'layout.html' %}
{% load static %}
{% block title %}All books{% endblock %}

{% block content %}
    {% with categ=book_list.0.get_category_display %}
   <div class="row" style="text-align: center; margin-bottom: 40px;">
        <h1 style="font-family: 'Amarante';color: black; border-top:dotted;border-bottom: dotted;padding: 10px 0px;font-size: 50px;
        font-weight: 400;
        letter-spacing: 5px;">{{ categ }}</h1>
   </div>
    {% endwith %}
        {% for book in book_list %}

            <a style="padding: 20px;" href="{% url 'book_details' pk=book.pk %}"><img class="img-thumbnail" style="width:200px;height:350px" src="{{ book.cover.url }}" alt="Image"></a>

        {% endfor %}

{% endblock %}
