{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}All books{% endblock %}

{% block content %}
<div>
     <div class="row">
      <div class="col-sm-4" style="background-color: aqua">.col-sm-4</div>
      <div class="col-sm-4" style="background-color: red">.col-sm-4</div>
      <div class="col-sm-4" style="background-color: yellow">.col-sm-4</div>
    </div>
    <div>
        {% for book in books %}
            <div>
                <img src="{{ book.cover.url }}" style="width:660px ;height:600px"  alt="Image"/>
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}