{% extends 'layout.html' %}
{% load static %}
{% block title %}My library{% endblock %}

{% block content %}
    <div class="col-sm-10 " style="background-color:#F5F5F5;padding-bottom: 20px; min-height: 360px;">
    <hr/>
     <h1 style="text-align: center;font-family: 'Dancing Script';font-size: 50px;">My library</h1>
    <hr/>
    {% for book in books %}

        {% if book.id_user.pk == request.user.pk %}
            <div>
                <h3>{{ book.id_book.title }}</h3>
                <ul>
                    <li>
                        Author: {{ book.id_book.author }}
                    </li>
                    <li>
                        Publishing House: {{ book.id_book.pub_house }}
                    </li>
                    <li>
                        Description: {{ book.id_book.description }}
                    </li>
                </ul>
                <img src="{{ book.id_book.cover.url }}" alt="NoPhotos" height="200px" width="200px"/><br/>
                <a href="{{ book.id_book.pdf.url }}" > <button  type="submit" style="background-color:#483D8B; color: white">Read</button></a>
                <a href="{% url 'remove' pk=book.pk %}" > <button  type="submit" style="background-color:#483D8B; color: white">Remove from my list</button></a>
            </div>
           
        {% endif %}

    {% endfor %}
    </div>
{% endblock %}